<div class="card-wrapper">
  <div class="description-container">
    <h1 class="title">lorem</h1>
    <div class="task-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, provident.
    </div>
    <p class="task-date">
      05/05/2055
    </p>
  </div>
  <div class="card-btns-container">
    <button mat-stroked-button color="accent" class="btn-complete">
      COMPLETED
    </button>
    <button  mat-icon-button class="fav-btn" color="white">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button class="delete-btn" color="white">
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button mat-icon-button class="edit-btn" color="white">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

</div>
