<div class="card-wrapper" *ngFor="let todo of todos$ | async">
  <div class="description-container">
    <h2 class="title">{{todo.title}}</h2>
    <p class="task-date">Todo was created {{todo.created_at | date}}</p>
  </div>
  <div class="card-btns-container">

    <mat-checkbox
      color="accent"
      class="btn-complete"
      matTooltip = "Complete?"
      [checked] = "todo.completed"
      (change)="checkTodo($event, todo)"
    >
    </mat-checkbox>

    <button mat-icon-button (click)="openDialog(todo.id,'1000ms', '500ms')">
      <mat-icon>delete_outline</mat-icon>
    </button>

    <button
      mat-icon-button
      class="edit-btn"
      color="white"
      (click)="update(todo.id)"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>

</div>
