<div class="main-page-wrapper">
  <app-header></app-header>
  <p style="font-family: 'Bebas Neue', sans-serif" *ngIf="!(isAuth$ | async)" class="main-page-text">
    Todo app is a simple application that helps users organize their tasks and plans. It allows users to create, view, edit, and delete tasks, as well as mark them as completed. The Todo app helps users stay organized, improve time management, and achieve their goals.
  </p>
  <app-breadcrumb *ngIf="isAuth$|async"></app-breadcrumb>
  <app-card *ngIf="isAuth$|async" ></app-card>
  <app-add-card-btn *ngIf="isAuth$|async" ></app-add-card-btn>
</div>

