<div class="header-wrapper">
  <div class="logo-container" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon class="logo">done_all</mat-icon>
    <a [routerLink]="['/']"
       class="text"
    >#JUSTTODOIT</a>
  </div>
  <div class="auth-container">
    <button [routerLink]="['/login']" class="user-login" [disabled]="isAuth$|async">
      <mat-icon>person_outline</mat-icon>
      {{username$|async}}

    </button>
    <button
      [routerLink]="['/']"
      class="logout"
      appIsAuth
      (click)="onLogout()"
    >
      <mat-icon>exit_to_app</mat-icon>
      logout
    </button>
  </div>
</div>
